<template>
  <div id="app">
    <el-button type="text" @click="dialogVisible = true">普通iframe弹窗</el-button>
    <el-button type="text" @click="openDialogByPostMessage">iframe_postMessage弹窗</el-button>
    <div class="img-prview" v-show="dialogVisible" @click="handleCloseDialog">
      <img :src="imgUrl" alt="">
    </div>

  </div>
</template>

<script>
/* eslint-disable */

import imgUrl from "./assets/133256666_0_final.png"
let serverUrl = ''
if (process.env.NODE_ENV === 'production') {
  serverUrl = 'http://47.96.170.46'
} else {
  serverUrl = 'http://localhost:8080'
}
export default {
  name: 'App',
  components: {
  },
  data() {
    return {
      dialogVisible: false,
      imgUrl: imgUrl
    };
  },
  methods: {
    openDialogByPostMessage() {
      //判断是否被iframe
      if (window.top !== window) {
        window.parent.postMessage('openDialog', serverUrl)
      }
      this.dialogVisible = true;
    },
    handleCloseDialog() {
      //判断是否被iframe
      if (window.top !== window) {
        window.parent.postMessage('closeDialog', serverUrl)
      }
      this.dialogVisible = false;
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

* {
  border: 0;
  padding: 0;
}

.img-prview {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
</style>